AddDefaultCharset utf-8
AddCharset utf-8 *
<IfModule mod_charset.c>
    CharsetSourceEnc utf-8
    CharsetDefault utf-8
</IfModule>
RewriteEngine On
RewriteBase /

RewriteRule /?\.htaccess$ - [F,L]
RewriteRule /?config\.php$ - [F,L]

RewriteRule ^news-(.*)$ index.php?module=new&id_news=$1 [L,QSA]
RewriteRule ^page-(.*)$ index.php?module=page&id_page=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ index.php?module=$1 [L,QSA]