@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

*
{
	margin: 0;
	padding: 0;
    -moz-box-sizing: border-box;      /* фикс проблемы для Firefox       */
    -webkit-box-sizing: border-box;   /* фикс для старых Chrome и Safari */
    box-sizing: border-box;           /* не поддерживается в CSS2        */
}

html
{
	min-height: 100%;
    min-width: 1000px;
}

header, nav, section, article, aside, footer
{
	display: block;
    width: 100%;
}

body
{
	font: 10px/16px "Roboto", Tahoma, sans-serif;
	width: 100%;
	height: 100%;
    background: url('/design/images/body-bg.jpg');
    background-color: #fff;
}

a
{
	color: #1481b8;
	text-decoration: none;
	outline: none;
	border-bottom: solid 1px rgba(209, 236, 250, 0);
	transition: color 0.2s ease, border-color 0.2s ease;
}

a:hover
{
	/*text-decoration: underline;*/
}

table
{
	border-collapse:collapse;
}

p
{
	margin: 0 0 18px
}

img
{
	border: none;
}

input
{
	vertical-align: middle;
}

.layout
{
}

.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
    z-index: 9;
    overflow: auto;
    outline: 1px solid deeppink;
}

header {
    height: 50px;
    background: #343131;
}

header nav {
    width: auto;
}

header nav li {
    display: inline-block;
    line-height: 50px;
    padding-left: 30px;
}

header nav li a {
    font-size: 1.4em;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    display: inline;
}

header nav li a:hover {
    color: #358cce;
}

body > .content {
    background: #f0f0f0;
}

body > .content > .container {
}

.columns
{
    display: table;
    width: 100%;
    font-size: 14px;
    background: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 0px;
}

.columns > .column
{
    display: table-cell;
    overflow: auto;
    vertical-align: top;
    width: auto;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0px;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

footer {
    background: #fff;
    padding: 15px 0;
    font-size: 1.4em;
}

footer nav li {
    display: inline-block;
    line-height: 50px;
    padding-right: 30px;
}

footer nav li a {
    font-size: 1em;
    color: #6d7174;
    display: inline;
}

footer nav li a:hover {
    color: #358cce;
}
