@import "style-icons.css" all;
@import "style-posts.css" all;
@import "style-tags.css" all;
@import "style-comments.css" all;

h3
{
    margin:0 0 8px 0;
    color: #666;
    font-size: 1.2em;
    line-height: 1.0em;
}

.clear-fix:before, .clear-fix:after {
    content: "";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}

.copyright {
    color: #a1a1a1;
}

.close {
    opacity: 0.4;
    text-decoration: none !important;
    padding-left: 15px;
}

.close:hover {
    opacity: 1;
}

.message {
    font-weight: bold;
    font-size: 1.4em;;
    min-height: 30px;
    line-height: 30px;
    padding: 10px 25px;
}

.primary-message {
    background: #F3B100;
    color: #000;
    text-shadow: 0 1px #FCDA87;
}

.primary-message a {
    text-decoration: none;
}

.success-message {
    border: 1px solid #6FA433;
    background: #D0F3B6;
    margin-bottom: 5px;
}

.error-message {
    border: 1px solid #ff0000;
    background:#c60f0f;
    color: #FFF;
}

.add_post_action {
    padding: 5px 0 0 0;
    width: 180px !important;
}

button, a.button {
    min-width: 150px;
    height: 40px;
    cursor: pointer;
    padding: 10px 25px;
    line-height: 1.4em;
    font-size: 1.4em;
    color: #000;
    text-shadow: 0 1px #FCDA87;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    background-color: #febf4d;
}

button:hover, a.button:hover {
    background-color: #F3B100;
    color: black;
}

.default_page {
    width: 100%;
    background: #fff;
    overflow: auto;
    margin-top: 10px;
    border-top: 10px solid #358cce;
}

.default_page h2 {
    color: #358cce;
    font-size: 3em;
    line-height: 3em;
    padding: 0 0 10px 0;
}

label {
    display: block;
    width: 100%;
    font-size: 2em;
    padding: 0 0 10px 0;
    color: #343131;
}

input, textarea {
    border: 1px #d9d9d9 solid;
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 1;
    font-size: 1.4em;
}

.add_post_action a {
    display: block;
    width: 180px;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #111;
    color: #fff;
    background: #d95626;/*#d52530;*/
    font-size: 1.4em !important;
    text-shadow: 0 0 5px #000;
    border-radius: 5px;
    cursor: pointer;
}

.add_post_action a:hover {
    color: #fff;
}

.imageL
{
	float: left;
	max-width: 40%;
	margin: 0px 15px 15px 0px;
}

.imageR
{
	float: right;
	max-width: 40%;
	margin: 0px 0px 15px 15px;
}

.imageL img, .imageR img
{
	width: 100%;
}

.fl_l
{ 
	float: left;
}
.fl_r
{ 
	float: right;
}

div.form
{
    overflow: auto;
}

div.form .row
{
    width: 100%;
    overflow: auto;
    padding: 5px 0 20px 0;
}

div.form .row > .input
{
    width: auto;
}

div.form .row > .label
{
    font-weight: bold;
}

div.form .row > .header
{
    font-size: 1.5em;
    margin-top: 10px;
}

pre
{
	color: #444;
	font: normal 13px/16px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
	padding: 10px;
	background: #f8fbfc;
	border: solid 1px #f1f6f9;
	border-bottom: solid 1px #d9eaf2;
	border-radius: 3px;
	overflow: auto;
}